
<div ng-repeat="item in model.items" ng-hide="!details" on-finish-render="itemsLoaded" class="project-item clearfix">
  <h3>{{item.title}}</h3><a ng-click="vote(item)" ng-hide="item.voted || noVotes || votedForThis(item)" class="btn btn-primary pull-right vote-icon"><img src="images/up-vote-icon.png"/></a>
  <p>{{item.description}}</p>
  <p ng-show="item.name_speaker"><strong>Speaker: {{item.name_speaker}}</strong></p>
  <h4 ng-show="item.people">People</h4>
  <ul ng-show="item.people" class="people">
    <li ng-repeat="p in item.people">{{p}}</li>
  </ul>
</div>
