div.alert.alert-success(ng-model="created", ng-show="created")
  p Well Done! Now you can compete!

form.form-signin(name="newItem", ng-submit="submitItem()")
  p Add your team's information! Put your team's member names comma-separated please.
  p
    label Title
    input(type="text", ng-model="title", required, autofocus, placeholder="Title")
  p
    label People
    input(type="text", ng-model="people", required, placeholder="Names - comma separated")
  p
    label Description
    input(type="text", ng-model="description", required, placeholder="Description")
  p
    input(type="submit", value="Submit")