div.alert.alert-success(ng-model="created", ng-show="created")
  p Well Done! Now you can compete!

form(name="newItem", ng-submit="submitItem()")
  p Add your team's information! Put your team's member names comma-separated please.
  p
    label Title
    input(type="text", ng-model="title", required, autofocus)
  p
    label People
    input(type="text", ng-model="people", required)
  p
    label Description
    input(type="text", ng-model="description", required)
  p
    input(type="submit", value="Submit")