
<div ng-model="created" ng-show="created" class="alert alert-success">
  <p>Well Done! Now you can compete!</p>
</div>
<form name="newItem" ng-submit="submitItem()" class="form-signin">
  <h4 class="form-signin-heading">Add your team's information!</h4>
  <p>Put your team's member names comma-separated please.</p>
  <input type="text" ng-model="title" required="required" autofocus="autofocus" placeholder="Title" class="input-block-level"/>
  <input type="text" ng-model="people" required="required" placeholder="Names - comma separated" class="input-block-level"/>
  <textarea type="textarea" ng-model="description" required="required" placeholder="Description" class="input-block-level"></textarea>
  <p>
    <button type="submit" class="btn btn-large btn-primary">Submit</button>
  </p>
</form>