@import 'compass';

$primary-color: #932318;
$primary-color-lighter: lighten( $primary-color, 10%);
$primary-color-darker: darken( $primary-color, 10%);
$secondary-color: #feb336;
$secondary-color-lighter: lighten( $secondary-color, 10%);
$secondary-color-darker: darken( $secondary-color, 10%);

footer {
	padding: 20px 0;
}

.category {
	.label {
		padding: 3px 5px;
		margin: 0px 2px;
	}
}

blockquote {
	font-size: 8pt;
	padding: 3;
	margin: 0;
}

.gridStyle {
    border: 2px solid rgb(212,212,212);
    width: 100%; 
    height: 500px;
}

.ng-invalid {
	&.ng-dirty {
		color: #b94a48;
		border-color: #b94a48;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));

		&:focus {
			border-color: #953b39;
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392);
		}
	}
}

.ngRow:hover {
	background-color: #ddedf0;
}

.well {
	padding-left: 30px;
	padding-right: 30px;
}


.header {
   position:fixed;
   left: 0;
   top: 0;
   height: 60px;
   width: 100%;
   @include background-image(linear-gradient(top, $primary-color, $primary-color-darker));
   color: white;
   padding: 10px;
}

.container {
	padding-top: 25px;
}

.label-success {
	margin-right: 5px;
	margin-top: 4px;
}

.label-warning {
	background-color: $secondary-color;
}

.voting-buttons {
	.btn-primary {
		width: 125%;
		background-color: $primary-color;
		border-color: $primary-color-darker;
		&:hover {
			background-color: $primary-color-lighter;
			border-color: $primary-color;
		}
	}
	.btn-warning {
		width: 125%;
		background-color: $secondary-color;
		&:hover {
			background-color: $secondary-color-lighter;
			border-color: $secondary-color;
		}
	}
}

.sessionDescription{
	word-wrap: break-word;	
}

@media (max-width: 480px) {
	.header {
		& select {
			width: 80%;
		}
	}
}