@import 'compass';

footer {
	padding: 20px 0;
}

.category {
	.label {
		padding: 3px 5px;
		margin: 0px 2px;
	}
}

blockquote {
	font-size: 8pt;
	padding: 3;
	margin: 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 500px;
}

.ng-invalid {
	&.ng-dirty {
		color: #b94a48;
		border-color: #b94a48;
		@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075));

		&:focus {
			border-color: #953b39;
			@include box-shadow(inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392);
		}
	}
}