@import 'compass';

@import 'partials/buttons';

footer {
	padding: 20px 0;
}

.category { 
	.label {
		padding: 3px 5px;
		margin: 0px 2px;
	}
	
}

blockquote {
	font-size: 8pt;
	padding: 3;
	margin: 0;
}

.gridStyle {
    border: 2px solid rgb(212,212,212);
    width: 100%; 
    height: 500px;
}
.ngRow:hover {
	background-color: #ddedf0;
}

.well {
	padding-left: 30px;
	padding-right: 30px;
}

.sessionDescription{
	word-wrap: break-word;	
}
