footer {
  padding: 20px 0;
}

.category .label {
  margin: 0px 2px;
  margin-bottom: 2px;
}

blockquote {
  font-size: 8pt;
  padding: 3;
  margin: 0;
}

.gridStyle {
  border: 2px solid #d4d4d4;
  width: 100%;
  height: 500px;
}

.ng-invalid.ng-dirty {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.ng-invalid.ng-dirty:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.ngRow:hover {
  background-color: #ddedf0;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #932318), color-stop(100%, #671911));
  background-image: -webkit-linear-gradient(top, #932318, #671911);
  background-image: -moz-linear-gradient(top, #932318, #671911);
  background-image: -o-linear-gradient(top, #932318, #671911);
  background-image: linear-gradient(top, #932318, #671911);
  color: white;
  padding: 8px 15px;
  z-index: 10000;
}

.votesremaning {width: 30%; vertical-align: bottom;}

.container .sessions, .container .results {
  padding-top: 55px;
  padding-left: 0px;
  padding-right: 0px;
}

.sessionDescription{
  word-wrap: break-word;
  line-height:1.2em;  
}

.collapsed {
    line-height: 1em;
    height: 2em;
    overflow: hidden;
}

.toggle-collapsed input {
    display: none;
}

/* Extra styles to add faux-ellipsis to multi-line text */
.collapsed {
    position:relative;
}

.collapsed::after {
    content:'\2026';
    display: block;
    position:absolute;
    bottom:0;
    right:0;
    background-color:#fff;
}

.label-success {
  margin-right: 5px;
  margin-top: 4px;
}

.label-warning {
  background-color: #feb336;
}

.btn-primary {
  background-color: #932318;
  border-color: #671911;
}
.btn-primary:hover, .btn-primary:disabled {
  background-color: #bf2d1f;
  border-color: #932318;
}

.btn-warning {
  background-color: #feb336;
}
.btn-warning:hover {
  background-color: #fec669;
  border-color: #feb336;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color: #feb336;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 179, 54, 0.5);
  outline: 0 none;
}

@media (max-width: 480px) {
  .header select {
    width: 80%;
  }

  .sessions {
    padding: 0 15px;
  }
}
