@color: #4D926F;

header {
  margin-top: 20px;
  overflow-y:auto;
  color: saturate(@color, 5%);
  h1 {
    font: 32px/1 'Luckiest Guy', cursive; /* Google font API */
    text-shadow: 0 1px 0 rgba(0,0,0,.9);
  }
}


.vote-icon img{
	max-width: 20px;
	-webkit-transform-origin: left bottom;
	o-transform-origin: left bottom;
	transform-origin: left bottom;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	transition: all .3s ease-in;
}

.vote-icon:hover img {
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.vote-icon:active img {
	-webkit-transition: none;
	-webkit-transform: rotate(0deg);
}

