doctype 5
html(lang="en")
    head
        title Vote
        // build:js(./) js/app.min.js
        script(src='/app/application-setup.js')
        script(src='/app/controllers/ItemsController.js')
        script(src='/app/application-routes.js')
        // endbuild
    body
        h1 Foo