doctype 5
html(lang="en", ng-app="application", ng-controller="AppController")
    head
        title Vote
        // build:js(./) js/app.min.js
        //script(src='/bower_components/bootstrap-css/js/bootstrap.min.js')
        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/angular-route/angular-route.js')
        script(src='/app/application-setup.js')
        script(src='/app/controllers/AppController.js')
        script(src='/app/controllers/ItemsController.js')
        script(src='/app/application-routes.js')
        // endbuild
    body
        h1 Foo2
        #content
          div(ng-view)
    </div>