doctype 5
html(lang="en", ng-app="application", ng-controller="AppController")
    head
        title Vote
        link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')

        // build:css(./) css/style.css
        link(href='/bower_components/bootstrap-css/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/styles/style.css', rel='stylesheet', type='text/css')

        // endbuild
        // build:js(./) js/app.min.js
        script(src='/bower_components/angular/angular.js')
        script(src='/bower_components/angular-route/angular-route.js')
        script(src='/bower_components/socket.io-client/dist/socket.io.min.js')
        script(src='/bower_components/nnnick-chartjs/Chart.min.js')
        script(src='/app/application-setup.js')
        script(src='/app/config.js')
        script(src='/app/services/vote.js')
        script(src='/app/controllers/AppController.js')
        script(src='/app/controllers/HeaderController.js')
        script(src='/app/controllers/NavController.js')
        script(src='/app/controllers/ItemsController.js')
        script(src='/app/controllers/ResultsController.js')
        script(src='/app/application-routes.js')
        // endbuild
    body
        header.container(ng-controller="HeaderController")
            p.pull-left Back
            div.pull-right {{model.remaining}} Votes Left
        nav.container(ng-controller="NavController")
            ul
                li.btn.btn-primary
                    a(href="/").whiteText Vote
                li.btn.btn-primary
                    a(href="/results") Results
        .container
            div(ng-view)
