@mixin linear-gradient($params...) {
	background-image: -webkit-linear-gradient($params); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient($params); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient($params); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient($params); /* Standard syntax; must be last */
}
$primary-color: #932318;
$primary-color-lighter: lighten( $primary-color, 10%);
$primary-color-darker: darken( $primary-color, 10%);
$secondary-color: #feb336;
$secondary-color-lighter: lighten( $secondary-color, 10%);
$secondary-color-darker: darken( $secondary-color, 10%);

#greeting {
	text-align: center;
}

footer {
	padding: 20px 0;
}

.category {
	.label {
		margin: 0px 2px;
		margin-bottom: 2px;
	}
}

blockquote {
	font-size: 8pt;
	padding: 3;
	margin: 0;
}

.gridStyle {
    border: 2px solid rgb(212,212,212);
    width: 100%;
    height: 500px;
}

.ng-invalid {
	&.ng-dirty {
		color: #b94a48;
		border-color: #b94a48;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

		&:focus {
			border-color: #953b39;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;
		}
	}
}

.ngRow:hover {
	background-color: #ddedf0;
}

.header {
	position:fixed;
	left: 0;
	top: 0;
	height: 50px;
	width: 100%;
	background-color: $primary-color; /* fallback color if gradients are not supported */
	@include linear-gradient(top, $primary-color, $primary-color-darker);
	color: white;
	padding: 14px 15px;
	z-index: 9999;

	#category-filter {
   		width: 60%;
	}

	#vote-counter {
		width: 40%;
	}
}

.container .sessions,
.container .results {
	padding-top: 55px;
	padding-left: 0px;
	padding-right: 0px;
}

.sessionDescription{
	word-wrap: break-word;
	line-height:1.2em;
	cursor: pointer;
}

.collapsed {
    line-height: 1em;
    height: 2em;
    overflow: hidden;
}

.toggle-collapsed input {
    display: none;
}

/* Extra styles to add faux-ellipsis to multi-line text */
.collapsed {
    position:relative;
}

.collapsed::after {
    content:'\2026';
    display: block;
    position:absolute;
    bottom:0;
    right:0;
    background-color:#fff;
}

.label-success {
	margin-right: 5px;
	margin-top: 4px;
}

.label-warning {
	background-color: $secondary-color;
}

.btn:focus {
	outline: none;
}

.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color-darker;
	&:hover,
	&:disabled,
	&:focus,
	&:active {
		background-color: $primary-color-lighter;
		border-color: $primary-color;
	}
}
.btn-warning {
	background-color: $secondary-color;
	&:hover {
		background-color: $secondary-color-lighter;
		border-color: $secondary-color;
	}
}

.btn.voted {
	background-color: $secondary-color;
	border-color: $secondary-color-darker;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: $secondary-color;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 179, 54, 0.5);
	outline: 0 none;
}

.admin-link, .admin-link:hover,
.header-link, .header-link:hover {
	color: #fff;
	text-decoration: none;
}

.admin-container {
	margin-top: 70px;
}

.timeofday {
	margin-left: 30px;
}

@media (max-width: 480px) {
	.header {
		& select {
			width: 80%;
		}
	}
	//Adding padding per bootstrap fully fluid layout guidance
	.sessions {
		padding: 0 15px;
	}
}

/*** ANIMATIONS *********/

.animate-switch.ng-animate {
  transition: all cubit-bezier(0.250, 0.450, 0.940) 0.5s;
  position:absolute;
  top:0;
  left:0;
  right: 0;
  bottom:0;
}

.animate-switch.ng-leave-active, animate-switch.ng-enter {
  top:50px;
}
.animate-switch.ng-leave, .animate-switch.ng-enter-active {
  top:0;
}

/****Popup Modal******/
#error-modal .modal-content {
  font-size: 2em;
  margin-top: 33%;
}

#error-dialog {
  padding-left: 2em;
}
#error-modal .btn {
  margin-left: 10%;

}
