@mixin linear-gradient($params...) {
	background-image: -webkit-linear-gradient($params); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
	background-image:    -moz-linear-gradient($params); /* For Firefox (3.6 to 15) */
	background-image:      -o-linear-gradient($params); /* For old Opera (11.1 to 12.0) */
	background-image:         linear-gradient($params); /* Standard syntax; must be last */
}

$primary-color: #932318;
$primary-color-lighter: lighten( $primary-color, 10%);
$primary-color-darker: darken( $primary-color, 10%);
$secondary-color: #feb336;
$secondary-color-lighter: lighten( $secondary-color, 10%);
$secondary-color-darker: darken( $secondary-color, 10%);
$background: #ffffff;


/*
	GLOSSARY:
	HEADER
	CONTAINER
	FOOTER
	DEFAULT (Default Broswer Values)
	ADMIN (Page)
	SESSION (Page)
	ANGULAR / VALIDATION
	BUTTONS & LABELS
	CHECKBOXES
	INPUTS
	POPUP MODALS
	ANIMATIONS
	MEDIA QUERIES
*/

/********* HEADER *********/
.header {
	position:fixed;
	left: 0;
	top: 0;
	height: 50px;
	width: 100%;
	background-color: $primary-color; /* fallback color if gradients are not supported */
	@include linear-gradient(top, $primary-color, $primary-color-darker);
	color: white;
	padding: 14px 15px;
	z-index: 9999;

	#category-filter {
		width: 60%;
	}

	#vote-counter {
		width: 40%;
	}
}


/********* CONTAINER *********/
.container .sessions,
.container .results {
	padding-top: 55px;
	padding-left: 0px;
	padding-right: 0px;
}


/********* FOOTER *********/
.credits {
  margin: 20px 0;
}

footer {
  padding: 20px 0;
}


/********* DEFAULT *********/
blockquote {
	font-size: 8pt;
	padding: 3;
	margin: 0;
}


/********* ADMIN *********/
.admin-container {
	margin-top: 70px;
}

.admin-link, .admin-link:hover,
.header-link, .header-link:hover {
	color: #fff;
	text-decoration: none;
}


/********* SESSION *********/
.gridStyle {
	border: 2px solid rgb(212,212,212);
	width: 100%;
	height: 500px;
}

.sessionDescription{
	word-wrap: break-word;
	line-height:1.2em;
	cursor: pointer;
}


.collapsed {
	// https://www.consolelog.io/multiple-line-ellipsis-css-effect
	// The height property is equal to the number of lines desired multiplied by the font-size plus 1px to account for character descenders
	display: block;
	display: -webkit-box;
	max-width: 100%;
	height: 29px; // 2 lines
	margin: 0 auto;
	font-size: 14px;
	line-height: 1;
	-webkit-line-clamp: 2; //
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.voting-button-container {
	display: flex;
	justify-content: space-around;
}


/********* ANGULAR / VALIDATION *********/
.ng-invalid {
	&.ng-dirty {
		color: #b94a48;
		border-color: #b94a48;
		box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);

		&:focus {
			border-color: #953b39;
			box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;
		}
	}
}

.ngRow:hover {
	background-color: #ddedf0;
}


/********* CHECKBOXES *********/
// https://bootsnipp.com/snippets/ZkMKE

.category {
	margin: 10px 0;
}

.checkbox {
	// padding-left: 20px;
	// margin-bottom: 20px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	// padding-left: 5px;
}

// checkbox background color
.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	left: 0;
	margin-left: -20px; // needed for checkmark
	border: 1px solid #cccccc; // checkbox border
	border-radius: 3px;
	background-color: #fff;
	// -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	// -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	// transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

// checkbox disable border color
.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0;
	margin-left: -20px;
	padding-left: 3px; // checkmark positioning
	padding-top: 1px; // checkmark positioning
	font-size: 11px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
}

.checkbox input[type="checkbox"]:focus + label::before {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
	opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
}

// checkbox background color
.checkbox-primary input[type="checkbox"]:checked + label::before {
	background-color: $secondary-color;
	border-color: $secondary-color;
}

// checkbox checkmark
.checkbox-primary input[type="checkbox"]:checked + label::after {
	color: #fff;
}

/********* BUTTONS & LABELS *********/

.logout {
	margin-left: 20px;
}

.btn:focus {
	outline: none;
}

.btn-primary {
	background-color: $primary-color;
	border-color: $primary-color-darker;
	&:hover,
	&:disabled,
	&:focus,
	&:active {
		background-color: $primary-color-lighter;
		border-color: $primary-color;
	}
}
.btn-warning {
	background-color: $secondary-color;
	&:hover {
		background-color: $secondary-color-lighter;
		border-color: $secondary-color;
	}
}

.btn.voted {
	background-color: $secondary-color;
	border-color: $secondary-color-darker;
}


.category {
	.label {
		margin: 0px 2px;
		margin-bottom: 2px;
	}
}

.label-success {
	margin-right: 5px;
	margin-top: 4px;
}

.label-warning {
	background-color: $secondary-color;
}


/********* INPUTS *********/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: $secondary-color;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 179, 54, 0.5);
	outline: 0 none;
}

// Full schedule page
.come-back-message {
	margin-top: 50px;
	margin-bottom: 50px;
}

/********** POPUP MODALS *********/
#error-modal .modal-content {
	font-size: 1.5em;
	margin-top: 33%;
	padding: 30px;
}

#error-dialog {
	padding-left: 2em;
}

#error-modal .btn {
	margin: 5%;
}


/********* ANIMATIONS *********/
.animate-switch.ng-animate {
	transition: all cubit-bezier(0.250, 0.450, 0.940) 0.5s;
	position:absolute;
	top:0;
	left:0;
	right: 0;
	bottom:0;
}

.animate-switch.ng-leave-active, animate-switch.ng-enter {
	top:50px;
}
.animate-switch.ng-leave, .animate-switch.ng-enter-active {
	top:0;
}


/*** MEDIA QUERIES ***/

// Phones & Handhelds
@media (max-width: 480px) {

	.header {
		& select {
			width: 80%;
		}
	}
	//Adding padding per bootstrap fully fluid layout guidance
	.sessions {
		padding: 0 15px;
	}

	.collapsed {
		// 3 lines
		display: block;
		display: -webkit-box;
		max-width: 100%;
		height: 43px;
		margin: 0 auto;
		font-size: 14px;
		line-height: 1;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

// Laptops & Desktops
@media only screen and (min-width : 481px) {


}
