<div class="header">
	<p class="text-center">Admin | {{currenttime}}</p>
</div>

<section class="container admin-container">
	<div class="row">
		<div class="polling-checkbox">
			<label> Voting Enabled </label>
		    <input type="checkbox" ng-model="polling.open" />

		    <label class="timeofday">Sessions</label>
		    <select ng-model="polling.sessions">
		    	<option value="morning">Morning</option>
		    	<option value="afternoon">Afternoon</option>
		    </select>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Rank</th>
				<th>Title</th>
				<th>Votes</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="s in sessions | orderBy:['-inSync.total_votes', 'title'] | filter:{availability: polling.sessions}">
				<td class="text-center">{{$index + 1}}</td>
				<td>{{s.title}}</td>
				<td>{{s.inSync.total_votes}}</td>
				<td>
					<button data-ng-if="!s.inSync.removed" type="button" class="btn btn-primary" data-ng-click="remove(s)">Remove</button>
					<button data-ng-if="s.inSync.removed" type="button" class="btn btn-primary" data-ng-click="remove(s)">Add</button>
				</td>
			</tr>
		</tbody>
	</table>
</section>