<div class="header">
	<button class="btn btn-primary pull-left" data-ng-click="logout()">Log Out!</button>
	<button class="btn btn-primary pull-right"><a href="/#/sessions" class="header-link">Sessions</a></button>
	<p class="text-center">{{currenttime}}</p>
</div>

<section class="container admin-container">
	<div class="row">
		<div class="polling-checkbox">
			<label> Voting Enabled </label>
		    <input type="checkbox" ng-model="polling.open" />

		    <label class="timeofday">Sessions</label>
		    <select ng-model="polling.sessions">
		    	<option value="morning">Morning</option>
		    	<option value="afternoon">Afternoon</option>
		    </select>
			<label style="margin-left: 30px;">Hide Removed From Admin View</label>
			<input type="checkbox" data-ng-model="hideRemoved">
			<button class="btn btn-primary pull-right" data-ng-click="resetVotes()" >Reset Votes</button>
		</div>

		<p>The <em>Hide Removed From Admin View</em> just hides the removed sessions from the admin view. This is to present a cleaner list for better visibility into afternoon session rankings</p>

		<p>Clicking the removed button will hide the session from the voting page. It is for those sessions that are presented in the morning but aslo available in the afternoon. Clicking remove will keep them from showing up in the vote page during the afternoon session</p>

	</div>
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Rank</th>
				<th>Title</th>
				<th>Speaker</th>
				<th>Votes</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-class="{hide: hideRemoved && s.inSync.removed}" data-ng-repeat="s in sessions | orderBy:['inSync.removed', '-inSync.total_votes', 'title'] | filter:{availability: polling.sessions}">
				<td class="text-center">{{$index + 1}}</td>
				<td>{{s.title}}</td>
				<td>{{s.speaker.firstName}} {{s.speaker.lastName}}</td>
				<td>{{s.inSync.total_votes}}</td>
				<td>
					<button data-ng-if="!s.inSync.removed" type="button" class="btn btn-primary" data-ng-click="remove(s)">Remove</button>
					<button data-ng-if="s.inSync.removed" type="button" class="btn btn-primary" data-ng-click="remove(s)">Add</button>
				</td>
			</tr>
		</tbody>
	</table>
</section>
