<div class="header">
	<button class="btn btn-primary pull-left" data-ng-click="logout()">Log Out!</button>
	<button class="btn btn-primary pull-right"><a href="/#/sessions" class="header-link">Sessions</a></button>
</div>

<section class="container admin-container">
	<div class="row">
		<div class="polling-checkbox">
			<label> Voting Enabled </label>
		    <input type="checkbox" ng-model="polling.open" />

		    <label class="timeofday">Sessions</label>
		    <select ng-model="sessions.Availability">
		    	<option value="all">All Sessions</option>
		    	<option value="morning">Morning</option>
		    	<option value="afternoon">Afternoon</option>
		    </select>

			<label style="margin-left: 30px;">Hide Removed From Admin View</label>
			<input type="checkbox" data-ng-model="hideRemoved">
		</div>

		<p>The <em>Hide Removed From Admin View</em> just hides the removed sessions from the admin view. This is to present a cleaner list for better visibility into afternoon session rankings</p>
		
		<p>Clicking the removed button will hide the session from the voting page. It is for those sessions that are presented in the morning but aslo available in the afternoon. Clicking remove will keep them from showing up in the vote page during the afternoon session</p>

	</div>

	<table class="table">
		<thead>
			<tr>
				<td><a href="" ng-click="sortByType = 'rank'; reverseSort = !reverseSort">
				Rank
					<span ng-show="sortByType == 'rank' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'rank' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'total_votes'; reverseSort = !reverseSort">
				Votes
					<span ng-show="sortByType == 'total_votes' && !reverseSort" class="fa fa-caret-down""></span>
					<span ng-show="sortByType == 'total_votes' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Title'; reverseSort = !reverseSort">
				Title
					<span ng-show="sortByType == 'Title' && !reverseSort" class="fa fa-caret-down""></span>
					<span ng-show="sortByType == 'Title' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'speakerName'; reverseSort = !reverseSort">
				Speaker
					<span ng-show="sortByType == 'speakerName' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'speakerName' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Time'; reverseSort = !reverseSort">
				Time
					<span ng-show="sortByType == 'Time' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'Time' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Room'; reverseSort = !reverseSort">
				Room
					<span ng-show="sortByType == 'Room' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'Room' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
				<td><a href="" ng-click="sortByType = 'Availability'; reverseSort = !reverseSort">
				Availability
					<span ng-show="sortByType == 'Availability' && !reverseSort" class="fa fa-caret-down"></span>
					<span ng-show="sortByType == 'Availability' && reverseSort" class="fa fa-caret-up"></span>
				</a></td>
			</tr>
		</thead>

		<tbody>
			<tr data-ng-class="{hide: hideRemoved && s.inSync.removed}" 
			 		data-time-value="{{timeSelect}}"
			 		data-room-value="{{roomSelect}}"
					ng-repeat="s in sessions | orderBy:sortByType:reverseSort | filter:{availability: sessions.availability}">
				
				<td class="text-center">{{s.Rank}}</td>
				<td>{{s.total_votes}}</td>
				<td>{{s.Title}}</td>
				<td>{{s['First Name']}} {{s['Last Name']}}</td>
			  <td><select ng-options="time as time for time in times" ng-model="timeSelect" ng-change="setTime(timeSelect, s)"></select></td>
				<td><select ng-options="room as room for room in rooms" ng-model="roomSelect" ng-change="setRoom(roomSelect, s)"></select></td>
				<td>{{s.Availability}}</td>
			</tr>
		</tbody>
	</table>
<button type="button" class="btn btn-primary btn-lg btn-block" data-ng-click="prepareSchedule()">Save</button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Reset</button>
</section>
