<!--favorites-->
<div role="tabpanel" class="tab-pane container sessions" id="favs">

<!-- will show if getFavorites() returns something -->
  <form ng-show="!favoriteSessions.length" class="col-xs-10 col-sm-9 col-md-10" ng-submit="getFavorites(barcampUsername)">
    <div>
      <p ng-show="invalidUsername" class="label label-warning">Invalid Username!</p>
    </div>

    <input type="text" placeholder="BarCamp Username" ng-model="barcampUsername">

    <button ng-show="!favoriteSessions.length" class="btn btn-primary" type="submit">
      <span ng-if="!submitting">Submit</span>
      <span ng-if="submitting"><i class="fa fa-spinner fa-spin"></i></span>
    </button>

    <p>Enter your Barcamp website username to load this screen with sessions you've marked as a favorite.</p>
  </form>

  <div ng-show="favoriteSessions.length">
    <p>Vote for your favorites for the current polling session!</p>
    <hr />
  </div>

  <ul class="list-unstyled">
    <li ng-repeat="favoriteSession in favoritesArray">

      <div class="row">
        <div class="sessionTitle col-xs-10 col-sm-9 col-md-10">
          <h4>{{favoriteSession.Title}}</h4>
        </div>

        <div class="voting-buttons col-xs-2 col-sm-3 col-md-2">
          <button type="button" ng-show="polling.open && session.availability.toLowerCase().indexOf(polling.sessions) > -1" class="pull-right btn btn-primary" ng-class="{voted: session.uservoted}" ng-click="session.vote(user)">
            <i class="fa" ng-class="{'fa-square': !session.uservoted, 'fa-thumbs-up': session.uservoted}"></i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="sessionSpeaker col-xs-5 col-sm-5 col-md-5">
          <p><i>with:</i> {{favoriteSession["First Name"]}} {{favoriteSession["Last Name"]}}</p>
        </div>
        
        <div class="category col-xs-7 col-sm-7 col-md-7">
          <span class="label label-default pull-right">{{favoriteSession["Session Category"]}}</span>
        </div>
      </div>

      <div class="row">
        <div class="sessionDescription col-xs-12 col-sm-12 col-md-12" ng-click="showText = !showText">
          <p ng-class="{ collapsed: !showText }">{{favoriteSession.Body}}</p>
          <div class="toggle-text" ng-hide="showText"><i>show more</i></div>
          <div class="toggle-text" ng-show="showText"><i>show less</i></div>
        </div>
        <hr/>
      </div>

    </li>
  </ul>
</div> <!--end container-->
