<div class="header">
	<button class="btn btn-primary pull-left" ng-click="logout()">Log Out!</button>
	<button class="btn btn-primary pull-right"><a href="/#/sessions" class="header-link">Sessions</a></button>
</div>

<div class="container schedule sessions" id="myTabs">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="" aria-controls="home" role="tab" data-toggle="tab" ng-click="setFilterString('time')">Time</a></li>

        <li role="presentation"><a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="setFilterString('room')">Room</a></li>

        <li role="presentation"><a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="setFilterString('session.speaker')">Speaker</a></li>
    </ul>

	<section class="scheduleList" ng-hide="!Afternoon">
		<h2 class="title">Afternoon Schedule</h2>

		<div class="tab-content" ng-model="filterBy" ng-repeat="session in afternoonRooms | orderBy:filterBy">
			<div class="schedule" id="afternoon">
			    <schedule ng-hide="!session.session.speaker">
			       {{session.room}} | {{session.time}} | {{session.session.speaker}}
			    </schedule>
			</div>
		</div>
	</section>

	<section class="scheduleList" ng-hide="!Morning">
		<h2 class="title">Morning Schedule</h2>

		<div class="tab-content" ng-model="filterBy" ng-repeat="session in morningRooms | orderBy:filterBy">
			<div class="schedule" id="morning">
			    <schedule ng-hide="!session.session.speaker">
			       {{session.room}} | {{session.time}} | {{session.session.speaker}}
			    </schedule>
			</div>
		</div>
	</section>
</div>
