<div class="header">
	<button class="btn btn-primary pull-left" ng-click="logout()">Log Out!</button>
	<button class="btn btn-primary pull-right"><a href="/#/sessions" class="header-link">Sessions</a></button>
</div>

<div class="container schedule sessions" id="myTabs">
    <ul class="nav nav-tabs" role="tablist" ng-hide="!morningRooms.length">
        <li role="presentation" class="active"><a href="" aria-controls="home" role="tab" data-toggle="tab" ng-click="setFilterString('time')">Time</a></li>

        <li role="presentation"><a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="setFilterString('room')">Room</a></li>

        <li role="presentation"><a href="" aria-controls="profile" role="tab" data-toggle="tab" ng-click="setFilterString('session.speaker')">Speaker</a></li>
    </ul>

	<div class="container" ng-if="!scheduleHasLoaded">
		<h2 class="text-center come-back-message">Loading...</h2>
	</div>

	<!-- Message to display during morning voting when no schedules are built -->
	<div class="container" ng-if="!morningRooms.length && scheduleHasLoaded">
		<h4 class="text-center come-back-message">Check back after voting has ended for the full schedule.</h4>
	</div>

	<!-- Afternoon schedule -->
	<section class="scheduleList" ng-hide="!afternoonRooms.length">
		<h2 class="title">Afternoon Schedule</h2>

		<div class="tab-content" ng-model="filterBy" ng-repeat="session in afternoonRooms | orderBy:filterBy">
			<div class="schedule" id="afternoon">
			    <schedule ng-hide="!session.session.speaker">
					<p>{{session.session.title}}</p>
 					<p>{{session.session.speaker}}</p>
 					<p>{{session.room}} | {{session.time}}</p>
 					<hr>
			    </schedule>
			</div>
		</div>
	</section>

	<!-- Moring Schedule -->
	<section class="scheduleList" ng-hide="!morningRooms.length">
		<h2 class="title">Morning Schedule</h2>

		<div class="tab-content" ng-model="filterBy" ng-repeat="session in morningRooms | orderBy:filterBy">
			<div class="schedule" id="morning">
			    <schedule ng-hide="!session.session.speaker">
				   <p>{{session.session.title}}</p>
				   <p>{{session.session.speaker}}</p>
				   <p>{{session.room}} | {{session.time}}</p>
				   <hr>
			    </schedule>
			</div>
		</div>
	</section>
</div>
