<div class="header">
	<select id="category-filter" data-ng-model="sessionFilter['Session Category']">
		<option value="">All Categories</option>
		<option value="Code">Code</option>
		<option value="Content">Content</option>
		<option value="Creative Enterprise">Creative Enterprise</option>
		<option value="Design">Design</option>
		<option value="Gear">Gear</option>
		<option value="Infrastructure">Infrastructure</option>
		<option value="Life Hacks">Life Hacks</option>
		<option value="Marketing">Marketing</option>
		<option value="Mobile">Mobile</option>
		<option value="Social">Social</option>
		<option value="Social Enterprise">Social Enterprise</option>
		<option value="Start Up">Start Up</option>
		<option value="UX/IA">UX/IA</option>
		<option value="Other">Other</option>
	</select>

	<p id="vote-counter" class="label label-warning">{{votesRemaining}} votes left</p>

	<div class="label label-success" data-ng-repeat="mysession in mysessionlist">
		{{mysession.Title | limitTo: 10}}
	</div>

</div>
<div class="container sessions">
	<ul class="list-unstyled">
		<li data-ng-repeat="session in sessions | filter: sessionFilter" data-ng-controller="SessionController">

			<div class="row">
  				<div class="sessionTitle col-xs-10 col-sm-9 col-md-10">
  					<h4>{{session.Title}}</h4>
  				</div>
  				<div class="voting-buttons col-xs-2 col-sm-3 col-md-2">
  					<button type="button" class="pull-right btn btn-primary" data-ng-click="upVote(session)" data-ng-show="!castlot.vote">
						<i class="fa fa-thumbs-o-up"></i>
					</button>

					<button type="button" class="pull-right btn btn-warning" data-ng-click="downVote(session)" data-ng-show="castlot.vote">
						<i class="fa fa-times"></i>
					</button>
  				</div>
			</div>
			<div class="row">
				<div class="sessionSpeaker col-xs-5 col-sm-5 col-md-5">
					<p><i>with:</i> {{session['First Name']}} {{session['Last Name']}}</p>
				</div>
				<div class="category col-xs-7 col-sm-7 col-md-7">
					<span class="label label-default pull-right" data-ng-repeat="category in session['Session Category']">{{category}}</span>
				</div>
			</div>
			<div class="row">
				<div class="sessionDescription col-xs-12 col-sm-12 col-md-12">
					<p>{{session.Body | words: 16}}</p>
				</div>
				<hr/>
			</div>
		</li>
	</ul>
</div>