<div class="container">
	<div class="header">
		<div class="row text-center">
			<button class="btn btn-primary pull-left logout" ng-click="logout()">Log Out!</button>

			<a href="{{scheduleUrl}}" target="_blank" class="header-link">Schedule</a>
			<span> | Votes Remaining: {{remainingVotes}}</span>

			<button class="btn btn-primary pull-right" ng-if="user.admin">
			  <a href="#/admin" class="admin-link">Admin</a>
			</button>
		</div>
	</div>
</div>
<div class="container sessions" id="myTabs">
  <!-- Nav tabs -->
    <ul class="nav nav-tabs" >
        <li ng-class="{active: tab === 'morning'}"><a ng-click="showTab('morning')">Morning</a></li>
        <li ng-if="polling.sessions !== 'morning'" ng-class="{active: tab === 'afternoon'}"><a ng-click="showTab('afternoon')"  >Afternoon</a></li>
    </ul>
</div>

<div>
  <!--morning voting-->
    <div  class="tab-pane active container sessions" ng-if="tab === 'morning'">
        <!-- ///////////////////////////////////////////////TODO: change has voted to edit mode///////////////// -->
        <!-- ///////////TODO: remove get-remaing-votes, session listing will handle via watcher///////////////// -->
        <session 
            ng-repeat="session in sessions track by $index"
            ng-show="session.Availability.includes('Morning')"
            session="session" 
            index="$index" 
            votes="voteArray" 
            add-vote="addVote(index)" 
            has-voted="editMode" 
            polling="polling"
            remove-vote="removeVote(index)" 
            session-type="'morning'"
            get-remaining-votes="getRemainingVotes()">
        </session>
    </div>

  <!--afternoon voting-->
    <div  class="tab-pane container sessions" ng-if="tab === 'afternoon'">
        <!-- ///////////////////////////////////////////////TODO: change has voted to edit mode///////////////// -->
        <!-- ///////////TODO: remove get-remaing-votes, session listing will handle via watcher///////////////// -->        
        <session 
            ng-repeat="session in sessions track by $index"
            ng-show="session.Availability.includes('Afternoon')"
            session="session" 
            index="$index" 
            votes="voteArray" 
            add-vote="addVote(index)" 
            has-voted="editMode" 
            polling="polling"
            remove-vote="removeVote(index)" 
            session-type="'afternoon'"
            get-remaining-votes="getRemainingVotes()">
        </session>
    </div>
    <div class="row">
        <button 
            class="btn btn-success" 
            data-toggle="modal" 
            data-target=".bs-example-modal-sm" 
            type="button" 
            ng-click="voteSubmit()" 
            ng-if="editMode"
            ng-disabled="!polling.open || !voteArray.length">Submit</button>

        <button 
            class="btn btn-danger" 
            type="button" 
            ng-click="resetVote()" 
            ng-if="editMode" 
            ng-disabled="!polling.open || !hasUserVoted">Reset</button>

        <button 
            class="btn btn-warning" 
            type="button" ng-click="setEdit()" 
            ng-if="!editMode" 
            ng-disabled="!polling.open">Edit Votes</button>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="error-modal" tabindex="-1">
    <div class="modal-dialog modal-sm" >
        <div class="modal-content">
            <h3 id="error-message" style="">{{errorMessage}}</h3>
            <h5 ng-repeat="title in titlesArray">{{title}}</h5>
            <div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
