<div class="input-group">
		<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
		<input type="text" name="badgeId" class="form-control" ng-model="badgeId" required autofocus/>

		<span ng-show="error" class="help-block">{{error}}</span>
</div>
<button type="submit" class="btn btn-primary btn-login" ng-click="login(badgeId)">Submit</button>


<h2 id="greeting">Welcome to BarCamp Nashville 2016!</h2>

<p>We're excited to have you. Please log in with the Badge ID found on your name tag to get started. See the folks at the check-in desk if you are missing a Badge ID.</p>

<dl class="text-center">
	<dt>Morning Voting</dt>
	<dd>8 a.m. - 9:15 a.m.</dd>
	<dt>Afternoon Voting</dt>
	<dd>noon - 12:45 p.m.</dd>
</dl>
