/* line 10, ../scss/barcamp.scss */
footer {
  padding: 20px 0;
}

/* line 15, ../scss/barcamp.scss */
.category .label {
  margin: 0px 2px;
  margin-bottom: 2px;
}

/* line 21, ../scss/barcamp.scss */
blockquote {
  font-size: 8pt;
  padding: 3;
  margin: 0;
}

/* line 27, ../scss/barcamp.scss */
.gridStyle {
  border: 2px solid #d4d4d4;
  width: 100%;
  height: 500px;
}

/* line 34, ../scss/barcamp.scss */
.ng-invalid.ng-dirty {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* line 39, ../scss/barcamp.scss */
.ng-invalid.ng-dirty:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

/* line 46, ../scss/barcamp.scss */
.ngRow:hover {
  background-color: #ddedf0;
}

/* line 50, ../scss/barcamp.scss */
.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #932318), color-stop(100%, #671911));
  background-image: -webkit-linear-gradient(top, #932318, #671911);
  background-image: -moz-linear-gradient(top, #932318, #671911);
  background-image: -o-linear-gradient(top, #932318, #671911);
  background-image: linear-gradient(top, #932318, #671911);
  color: white;
  padding: 14px 15px;
  z-index: 9999;
}
/* line 61, ../scss/barcamp.scss */
.header #category-filter {
  width: 60%;
}
/* line 65, ../scss/barcamp.scss */
.header #vote-counter {
  width: 40%;
}

/* line 71, ../scss/barcamp.scss */
.container .sessions,
.container .results {
  padding-top: 55px;
  padding-left: 0px;
  padding-right: 0px;
}

/* line 77, ../scss/barcamp.scss */
.sessionDescription {
  word-wrap: break-word;
  line-height: 1.2em;
}

/* line 82, ../scss/barcamp.scss */
.collapsed {
  line-height: 1em;
  height: 2em;
  overflow: hidden;
}

/* line 88, ../scss/barcamp.scss */
.toggle-collapsed input {
  display: none;
}

/* Extra styles to add faux-ellipsis to multi-line text */
/* line 93, ../scss/barcamp.scss */
.collapsed {
  position: relative;
}

/* line 97, ../scss/barcamp.scss */
.collapsed::after {
  content: '\2026';
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
}

/* line 106, ../scss/barcamp.scss */
.label-success {
  margin-right: 5px;
  margin-top: 4px;
}

/* line 111, ../scss/barcamp.scss */
.label-warning {
  background-color: #feb336;
}

/* line 115, ../scss/barcamp.scss */
.btn:focus {
  outline: none;
}

/* line 119, ../scss/barcamp.scss */
.btn-primary {
  background-color: #932318;
  border-color: #671911;
}
/* line 125, ../scss/barcamp.scss */
.btn-primary:hover, .btn-primary:disabled, .btn-primary:focus, .btn-primary:active {
  background-color: #bf2d1f;
  border-color: #932318;
}

/* line 130, ../scss/barcamp.scss */
.btn-warning {
  background-color: #feb336;
}
/* line 132, ../scss/barcamp.scss */
.btn-warning:hover {
  background-color: #fec669;
  border-color: #feb336;
}

/* line 138, ../scss/barcamp.scss */
.btn.voted {
  background-color: #feb336;
  border-color: #fea003;
}

/* line 158, ../scss/barcamp.scss */
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #feb336;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(254, 179, 54, 0.5);
  outline: 0 none;
}

/* line 164, ../scss/barcamp.scss */
.admin-link, .admin-link:hover {
  color: #fff;
  text-decoration: none;
}

/* line 169, ../scss/barcamp.scss */
.admin-container {
  margin-top: 70px;
}

/* line 173, ../scss/barcamp.scss */
.timeofday {
  margin-left: 30px;
}

@media (max-width: 480px) {
  /* line 179, ../scss/barcamp.scss */
  .header select {
    width: 80%;
  }

  /* line 184, ../scss/barcamp.scss */
  .sessions {
    padding: 0 15px;
  }
}
